/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 2

   Spice Bowl Payment Form Validation Style Sheet
   Author: Mahendra Khanal
   Date:  4/2/2020 

   Filename: sb_validate.css

*/


/* Validation Styles */

